*{
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1.2fr 0.8fr;
    grid-template-rows: auto auto auto auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Name Name Foto1"
      "Enlaces Enlaces Foto1"
      "Actividades Actividades Actividades"
      "Estados Estados Estados";
  }

  body{
      background-color: rgb(233, 173, 173);
  }
  
  .Name { 
      display: flex;
      grid-area: Name; 
      background-color: rgb(250, 44, 181);
      justify-content: center;
      margin: 10px;
      border: 2px solid rgb(143, 143, 221);
    }
  
  .Foto1 { 
      display: flex;
      grid-area: Foto1; 
      justify-content: center;
      background-color: rgb(228, 102, 233);
      margin: 10px;
      border: 2px solid rgb(157, 157, 235);
     
    }
  
  .Enlaces { 
      display: flex;
      grid-area: Enlaces;
      background-color: rgb(241, 100, 223);
      border: 2px solid rgb(230, 72, 138);
      margin: 10px;
    }

 
  
  .Actividades { 
      grid-area: Actividades; 
      background-color: rgb(223, 67, 176); 
      display: flex;
      justify-content: center;
      margin: 10px;
      border: 2px solid rgb(162, 162, 238);
    }
  
  .Estados {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . .";
    grid-area: Estados;
    margin: 10px;
    border: 2px solid rgb(245, 70, 187);
    background-color: rgb(230, 52, 111)
  }

  .nombre{
      margin: 50px;
  }
  
  .fotoed{
      width: 250px;
      height: 350px;
      border-radius: 10px;
      margin: 20px;

  }

  .contenla li{
      font-size: 30px;
      list-style: none;
      padding: 10px 10px 10px 50px;
      
  }

  .contenla a{
      text-decoration: none;
      color: rgb(215, 213, 241);
  }

  .contenla img{
      width: 20px;
      padding: 0px 5px 0px 0px;
      
  }


  .tabla{
    width: 100%;
    border: 2px solid rgb(224, 61, 176);
  }

  .tabla tr, th, td{
    border: 2px solid rgb(255, 0, 179);
    text-align: center;
  }


  .valorhtml, .valorcss, .valorjs, .valorui, .imgicon{
    text-align: center;
    border: 2px solid rgb(190, 59, 202);
    border-radius: 100%;
    width: 30%;
    height: 40%;
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    background-color: rgb(226, 100, 163);
  }

  .Estados img{
    width: 30px;
  }